.conditions-publication {
  width: 100%;
}
.conditions-publication__info {
  font-size: 13px;
  color: #2d8a00;
  font-family: 'PT Sans', 'Arial', sans-serif;
  margin: 50px 0 0 0;
  padding-left: 14px;
  width: 80%;
}

.conditions-publication__info-continued {
  font-size: 13px;
  color: #2d8a00;
  font-family: 'PT Sans', 'Arial', sans-serif;
  padding-left: 14px;
  width: 80%;
}

.conditions-publication__info-title {
  margin: 50px 0 0 0;
  padding-left: 14px;
  font-size: 15px;
}
.conditions-publication__info-text {
  padding-left: 14px;
  font-size: 12px;
  margin: 0;
}
.conditions-publication__crumbs {
  margin: 0;
  padding-left: 14px;
  position: relative;
  font-size: 12px;
}
.conditions-publication__crumbs-item {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  a {
    color: black;
  }
}
.conditions-publication__crumbs-item:before {
  content: "";
  position: absolute;
  border-top: 5px solid transparent;
  border-left: 5px solid #ea5e00;
  border-bottom: 5px solid transparent;
  top: 2px;
  right: -15px;
}
.conditions-publication__crumbs-item:last-child {
  font-family: 'PT SansB', 'Arial', sans-serif;
}
.conditions-publication__crumbs-item:last-child:before {
  display: none;
}
.conditions-publication__elect {
  position: relative;
}
#rad1 {
  width: 21px;
  height: 21px;
  cursor: pointer;
  position: absolute;
  top: 27px;
  left: 23px;
  z-index: 1;
}
#rad2 {
  width: 21px;
  height: 21px;
  cursor: pointer;
  position: absolute;
  top: 27px;
  left: 23px;
  z-index: 1;
}
.conditions-publication__elect-item {
  display: block;
  width: 98%;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  background-color: #f3f3f3;
  position: relative;
  height: 100%;
  margin-left: 1%;
  margin-bottom: 10px;
  z-index: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.conditions-publication__to-be-changed:after {
  position: absolute;
  content: '';
  background: url(../img/tel1.png) no-repeat;
  bottom: 0;
  right: 25px;
  background-size: cover;
  height: 78px;
  width: 64px;
}
.conditions-publication__to-be-changed2:after {
  position: absolute;
  content: '';
  background: url(../img/tel2.png) no-repeat;
  background-size: cover;
  height: 78px;
  bottom: 0;
  right: 25px;
  width: 64px;
}
.conditions-publication__elect-input1:checked ~ .conditions-publication__to-be-changed,
.conditions-publication__elect-input2:checked ~ .conditions-publication__to-be-changed2 {
  border: 2px solid #ffd800;
  background-color: #fff5ce;
}
.conditions-publication__elect-title {
  margin: 21px 0 0 50px;
  font-size: 15px;
  line-height: 25px;
  max-width: 60%;
}
.conditions-publication__elect-text {
  margin: 0 0 10px 50px;
  font-size: 15px;
  max-width: 60%;
}
#new-price {
  background-color: #ffd800;
  font-size: 15px;
}
#price {
  text-decoration: line-through;
  color: #747370;
  font-size: 15px;
}
#percent {
  color: #16a216;
  font-size: 15px;
}
.conditions-publication__elect-list {
  margin: 10px 10px 0 10px;
  max-width: 60%;
  li {
    list-style-type: none;
    font-size: 12px;
  }
}
.conditions-publication__elect-img {
  float: right;
  margin: 70px 18px 0 0;
  position: relative;
}
.conditions-publication__elect-img2 {
  float: right;
  margin: 15px 18px 0 0;
  position: relative;
}
.conditions-publication__submit {
  background: #ea5e00;
  color: #fff;
  font-size: 1.8571em;
  font-family: 'PT SansB', 'Arial', sans-serif;
  cursor: pointer;
  padding: 11px 25px 15px 25px;
  border-radius: 5px;
  position: relative;
  width: 94%;
  margin: 10px 3% 0;
}
.conditions-publication__dialog {
  background: url("../img/dialog.png") no-repeat;
  width: 100%;
  max-width: 294px;
  min-height: 74px;
  background-size: 100% 74px;
  margin-left: 15px;
  margin-bottom: 20px;
  position: relative;
}
.conditions-publication__dialog-wrap {
  margin: 18px 0 0 10px;
  float: left;
  width: 41%;
}
.conditions-publication__dialog-title {
  color: #a0cf0a;
  font-size: 18px;
  margin: 0;
}
.conditions-publication__text-left {
  color: #fff9e1;
  font-size: 11px;
  margin: 0;
  line-height: 13px;
}
.conditions-publication__text-right {
  width: 28%;
  color: #ffffff;
  font-size: 11px;
  margin: 22px 0 0 0;
  float: right;
  span {
    color: #ffd800;
  }
}
.conditions-publication__dialog:after {
  content: '';
  position: absolute;
  background: url("../img/hand.png") no-repeat;
  background-size: 51px 50px;
  width: 51px;
  height: 50px;
  top: 15px;
  left: 138px;
}