.page-header__menu {
  width: 100%;
  box-shadow: 0 0 8px 2px #c5c5c5;
  height: 55px;
  background: #f3f3f3;
  a{
    color: #0093d3;
    font-family: 'PT SansB', 'Arial', sans-serif;
    font-size: 13px;
    max-width: 200px;
  }
}

.page-header__logo {
  width: 38.5%;
  float: left;
  padding-top: 16px;
  border-right: 1px #dadada solid;
  padding-bottom: 15px;
  img {
    width: 85px;
    padding-left: 10px;
  }
}

.page-healer__my-advert {
  width: 30%;
  float: left;
  text-align: center;
  border-left: 1px #ffffff solid;
  padding-top: 10px;
  height: 45px;
}

.page-healer__post-advert {
  width: 30%;
  float: left;
  text-align: center;
  border-left: 1px #ffffff solid;
  padding-top: 10px;
  height: 45px;
}

.page-healer__advert--active {
  background: #e8e8e8;
  position: relative;
}

.page-healer__advert--active:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 29px;
  bottom: -28px;
  left: 0;
  background: #e8e8e8;
}

.page-header__link {
  vertical-align: middle;
  box-shadow: none;
}